@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  max-width: 1600px;
  width: 100%;
  background-color:whitesmoke;
}


/*** INDEX ***/

#banner{
  display: flex;
  background-color: white;
  height: 700px;
}

#presentation-index{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin-top: 0;
  margin-left: 10%;
  width: 25%;
  height: 55%;
  z-index: 1;
}

#presentation-index h1{
  font-size: 35px;
}

#presentation-index p{
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}

#link{
  color: gray;
  display: flex;
  width: 100%;
  justify-content: center;
}
#link:hover{
  color: blue;
  transition: 1.5s;
}

.link a{
 display: flex;
 justify-content: center;
 border: 1px solid #000;
 color: black;
 margin-top: 7.5%;
 text-decoration: none;
 font-size: 22px;
}

.link a:hover{
  color: white;
  background-color: #000;
  text-decoration: none;
  transition: 1s;
 }

#link a{
  font-size: 12px;
}


#slider{
  overflow:hidden;
  margin-left: 20%;
}

#slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 15s slider infinite;
}

#slider figure img{
  width:20%;
  float: left;
}

@keyframes slider{
  0%{
    left:0;
  }
  20%{
    left:0;
  }
  25%{
    left:-100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left:-200%;
  }
  70%{
    left:-200%;
  }
  75%{
    left:-300%;
  }
  95%{
    left:-300%;
  }
  100%{
    left:-400%;
  }
}



#services{
  background: white;
  text-align: center;
}



#services h1{
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid black;
  font-size: 20px;
  padding-bottom: 10px;
  margin-top: 40px;
}

.cen{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

.service{
  display: inline-block;
  width: calc(100%/3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s;
}

.service:hover{
  background: ddd;
}

.service i{
  color: black;
  font-size: 34px;
  margin-bottom:30px;
}

.service h2{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}

.service p{
  color:gray;
  font-size: 15px;
  font-weight: 500;
}

/***RESPONSIVE INDEX***/
@media (max-width: 980px){
  #banner{
    flex-direction: column;
  }
  #slider{
    margin-left: 0;
  }
  #presentation-index{
    position: relative;
    height: 45%;
    width: 72.5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  #presentation-index h1{
    font-size: 25px;
  }

  #presentation-index h2{
    font-size: 20px;
  }


  #presentation-index a{
  font-size: 20px;
 }
}

@media screen and (max-width:800px){
  .service{
    width:50%;
  }
}
@media screen and (max-width:500px){
  .service{
    width:100%;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/****INSCRIPTION****/

#container-inscription{
  display: flex;
  justify-content: center;
}



#form-inscription{
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 2.5%;
  padding: 20px;
  height: 450px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  box-shadow:0 10px 40px rgba(0,0,0,0.08);
  margin-bottom: 2.5%;
  font-size: 15px;
}


.button{
  width: 45%;
  color: white;
  background-color: black;
  border: 1 px solid white;
  height: 40px;
  border:none;
  margin-bottom: 20px;
}

.cadre{
  display: flex;
  height: 30px;
  margin-top: 1.5%;
  width: 40%;
}

/***RESPONSIVE ANIMATION***/
@media (max-width: 640px){
  #form-inscription{
    width: 90%;
  }
  #connecte a{
    font-size: 20px;
  }
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** CONNEXION ***/

#container-connexion {
  display: flex;
  height: 100vh;
}

.errormessage{
  display: flex;
  width: 80%;
  justify-content: center;
  margin-top: 20px;
  color: blue;
}

#left {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  animation-name: left;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

#right {
  flex: 1;
  background-color: black;
  transition: 2.5s;
  background-image: url(https://images.unsplash.com/photo-1552581234-26160f608093?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#left-presentation > h2 {
  margin: 0;
  color: black;
}

#left-presentation > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0,0,0,.4);
}

#form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

#form > p {
  text-align: right;
}

#form > p > a {
  color: #000;
  font-size: 14px;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 1px solid #ddd;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: black;
}

#form > #button-connexion {
  padding: 12px 10px;
  border: 0;
  background: black;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  letter-spacing: 1px;
}


.animation .a6 a:hover{
  color: black;
  border: 1px solid black;
  background: white;
}

#linkconnect:hover{
  color: blue;
  transition: 1.5s;
}

.animation {
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 2s;
}

.a2 {
  animation-delay: 2.1s;
}

.a3 {
  animation-delay: 2.2s;
}

.a4 {
  animation-delay: 2.3s;
}

.a5 {
  animation-delay: 2.4s;
}

.a6 {
  animation-delay: 2.5s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 440px;
  }
}
/***RESPONSIVE CONNEXION***/
@media (max-width: 640px){
  
#left {
  margin-left: 5%;
  margin-top: -2.5;
}

.animation{
  animation: none;
}
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/****PROFIL****/
#container-profil{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  padding-top: 20px;
  background: rgb(0,0,0);
  background: linear-gradient(62deg, rgba(0,0,0,1) 4%, rgba(9,40,10,1) 30%, rgba(0,0,0,1) 70%, rgba(9,40,10,1) 100%);
  color: white;
}

.subtitle-profil{
  padding-top: 20px;
}

#form-profil{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40%;
  font-size: 18px;
}

.champs-profil{
  color: white;
  padding-bottom: 10px;
}

.cadre-profil{
  width: 60%;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 6%;
  background-color: white;
  border: none;
}

#button-profil{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: none;
  width: 62.5%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  margin-top: 2.5%;
}

#button-profil:hover{
   background-color: gray;
   color: white;
   transition: 1.5s;
}

#button-profil{
  background-color: white;
}

/***PROFIL RESPONSIVE***/
@media (max-width: 640px) {
  #form-profil{
    padding-top: 10px;
  }
  .cadre-profil{
    width:120%;
    margin-bottom: 2%;
  }
  .champs-profil{
    font-size: 13px;
    padding-top: 20px;
  }
  
  #sub-profil{
    font-size: 16px;
  }
  .error{
    font-size : 13px;
  }
  #button-profil{
    width: 120%;
    margin-top: 5%;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** RESERVATION-FORM ***/
#resa{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5%;
}

#presentation-resa{
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

#hello{
  font-weight: 400;
}

#resa-text{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 3px solid black;
  justify-content: center;
  text-align: center;
  align-items:center;
  font-size: 25px;
  width: 80%;
  height: 40vh;
  text-transform: uppercase;
}

#resa-text a{
  color: gray;
 }

#resa-text a:hover{
 color: blue;
 transition: 1.5s;
}

form{
  font-size: 11px;
}

#formulaire{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 2.5%;
  padding: 20px;
  height: 500px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  box-shadow:0 10px 40px rgba(0,0,0,0.08);
}

#form-title{
  display: flex;
  font-size: 20px;
  width: 100%;
  height: 50px;
  color: black;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#time{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 2.5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#time input{
  display: flex;
  height: 25px;
}

#time input{
  display: flex;
  height: 25px;
}

.resahour{
  width: 40px;
}

.event{
  background-color: black;
  color:white;
}

#part-form{
  display: flex;
  width: 100%;
  margin-top: 20px;
}

label{
  margin-top: 5px;
}

#input-line{
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 10px;
  height: 30px;
  width: 90%;
  background-color: black;
  color:white;
  padding: 20px;
}


textarea{
  height: 120px;
  margin-bottom: 50px;
  width: 100%;
  padding: 2px;
}

#dateinput{
  width: 90px;
}

/* - - - - - - - add button - - - - - - - */

#box-button{
  display: flex;
  margin-top: -25px;
}
.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.5s ease-in-out;
}
.add-btn:hover {
  width: 200px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: blue;
}
.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  background-color: white;
  transition: opacity 0.2s;
  border: none;
  color: #110D57;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background:blue;
  overflow: hidden;
}
.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/***RESPONSIVE***/

@media (max-width: 400px) {
  #formulaire{
    height: 500px;
  }
  .input-line2{
    width: 20%;
  }
  label{
    padding-left: 10px;
  }
  #time{
    width: 80%;
    justify-content: space-between;
  }
  #form-title{
    font-size: 14px;
    height: 43px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  textarea{
    height: 100px;
    margin-bottom: 50px;
  }

  #resa-text{
    font-size: 20px;
    text-align: center;
  }
}
  @media (max-width:960px) {
    
    .hour{
      margin-left: 0px;
    }
    #formulaire{
      font-size: 9px;

    }
    .input-line2{
      width: 40%;
      margin-top: 17.5px;
    }
    .input-line{
       margin-bottom: 0px;
    }
    #part-form{
      margin-bottom: 20px;
    }  
  }
  
    @media (min-width:960px) {
      .hour{
        margin-left: 0px;
      }
      #formulaire{
        font-size: 10px;
        width: 30%;
      }
    }
    @media (min-width:1100px) {
      #formulaire{
        font-size: 10px;
        width: 30%;
      }
    }
    @media (min-width:1600px) {
      #formulaire{
        font-size: 12px;
        width: 30%;
      }
    }


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** RESERVATION ***/

#event{
  display: flex;
  background : url(https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
}

#eventcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-left: 50%;
  width: 50%;
  height: 80vh;
}

#imgevent{
  background-color: #110D57;
  height: 80vh;
}

#title-event{
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 3px;
  font-weight: 600;
}

#subtitle-event{
  margin-top: 2.5%;
}

article{
  display: flex;
  border: 1px solid black; 
  flex-direction: column;
  width: 80%;
  padding: 25px 25px;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

@media (max-width:640px) {
  #eventcontainer{
    margin-left: 0;
    width: 100%;
    height: 80vh;
  }
 
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** PLANNING ***/

#dateday{
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#containertable{
 display: flex;
 flex-direction: column;
 width: 100%;
}

/*TABLEAU*/ 
table {
  margin: 2.5% auto;
  width: 70%;
  overflow: scroll;
  position: static;
  border-radius: 10px;
  color: #110D57;
  display: inline-block;
  box-shadow:0 10px 40px rgba(0,0,0,0.08);
}
  
thead th {
  background: white;
  color: black;
  font-size: 16px;
  font-weight: 100;
  height: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
  }

th, td {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  width: 13%;
  text-transform: uppercase;
  }
  
tr {
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
  background-color: #fff;;
  }
 
/* - - - - - - - horaires - - - - - - - */

a{
  text-decoration: none;
  color:rgba(9, 5, 129, 0.8);
}

.hr a:hover{
  opacity: .5;
  background-color:rgba(9, 5, 129);
  color: white;
  padding: 21px;
  border-radius: 10px;
  transition: 0.5s;
}
.hour{
  display: flex;
  flex-direction: column;
  height: 50px;
  font-size: 8px;
  width: 100%;
  margin-left: 15px;
  color: #110D57;
}

#idevent{
  color: blue;
}

.tobook{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 12px;
}

.tobook:hover{
  transition: 1s;
  color: #FF5733;
}

#planningtitle{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  margin-top: 1%;
  letter-spacing: 3px;
}

@media (max-width: 640px) {
  thead th {
    font-size: 12px;
    }

    .hour{
      width: 40%;
    }

    #dateday{
    font-size: 13px;
    }
  
  }
 